<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class="table-container">
  <div class="table-container">
  <h2>Lista de Empleados</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Número</th>
        <th>Fecha Ingreso</th>
      </tr>
    </thead>
    <tbody id="empleados-list">
      <!-- Aquí se cargarán los datos con JS -->
    </tbody>
  </table>
</div>

</main>

</body>
</html>