<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class="report-list">
  <div class="report-list">
  <h2>Reportes de Asistencias</h2>
  <ul id="lista-reportes">
    <!-- Aquí se listarán los reportes con JS -->
    <li>
      <strong>2025-01-06</strong><br>
      Hoy hubieron muchos nuevos ingresos.
    </li>
  </ul>
</div>

</main>

</body>
</html>